<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>testpdf</title>
    
    <script type="text/javascript" src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
    <script src="~/Content/canvasjs.js"></script>
    <script type="text/javascript">
 
    

        function genPDF() {
            html2canvas(document.getElementById("test"), {
                scale:2,
                onrendered: function (canvas) {
                    var img = canvas.toDataURL("image/png");
                    var doc = new jsPDF();
                    doc.addImage(img, 'JPEG',0,0);
                    doc.save('test.pdf');
                }
            });
        }
    </script>
</head>
<body>
    <a href="javascript:genPDF()">download</a>
    <div id="test"> 
        <p>HELLO BAHA</p>
    </div>
</body>
</html>
