
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddAppointement</title>
</head>
<body>
    <form action="InsertAppointement" method="post">
        message : <input type="text" id="message" name="message"/> <br />
        @*dateAppointment : <input type="text" id="dateAppointment" name="dateAppointment" /> <br />*@
        reason : <input type="text" id="reason" name="reason" /> <br />
        <input id="submit" type="submit" value="confirm" />
    </form>
</body>
</html>
